.my-activity-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  margin: 10px 0px;
  font-size: 0.9em;
  box-shadow: 0px 0px 10px 1px rgb(196, 196, 196);
}

.my-activity-table thead tr {
  background-color: rgb(74, 126, 236);
  color: white;
  text-align: left;
  font-weight: bold;
  margin: 10px;
}
.my-activity-table thead th {
  padding: 0.5rem;
}
.my-activity-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.my-activity-table tbody td {
  padding: 0.5rem;
}
.my-activity-table button {
  border: none;
  display: flex;
  width: 100%;
  color: white;
  border-radius: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.my-activity-table button:hover {
  cursor: pointer;
}
.my-activity-table .button-remove {
  background-color: #ff3e3e;
}

.my-activity-table .button-add {
  background-color: #50b137;
}

.my-activity-table input {
  border-radius: 5px;
  border: 1px #dddddd solid;
}
* {
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .my-activity-table button {
    max-width: 100%;
  }
  .my-activity-table thead {
    display: none;
  }
  .my-activity-table,
  .my-activity-table tbody,
  .my-activity-table tr,
  .my-activity-table td {
    display: block;
    width: 100%;
  }
  .my-activity-table td {
    text-align: right;
    padding: 0.2rem;
    border-bottom: 1px solid #dddddd;
  }
  .my-activity-table tr {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.2rem;
  }
  .my-activity-table td::before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}
